.radio {
    display: flex;
}

.radio::before {

}


.radio:checked::before {
}

.label {
    background-color: #ffffff;
    display: flex;;
    font-size: 16px;
    padding-left: 13px;
}

.options {


}

.span {
    margin-left: 13px;
    background-color: #ffffff
}